
.about p {
  /* font-size: 1rem; */
  line-height: 1.6;
}

.card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Equal height cards using flex */
.d-flex .card {
  flex: 1;
}

.sectionBackground{
    background-color: #EBF2FF;
}

.custom-bg {
  background-color: #EBF2FF !important;
}

.custom-bg {
  padding: 1rem !important;   /* smaller padding */
}

.custom-bg p {
  margin-bottom: 0;          /* remove extra bottom spacing */
}