<!-- Footer -->
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Left Side -->
      <div class="col-md-6">
        <h5 class="fw-bold mb-1 fs-5">Muhammad Sajid</h5>
        <p class="mb-0 fs-6" style="color: white;">Software Developer • Musanze, Rwanda</p>
      </div>
      
      <!-- Right Side -->
      <div class="col-md-6 text-md-end mt-3 mt-md-0">
        <a href="#contact" class="btn btn-outline-light btn-sm rounded-circle me-2">
          <i class="bi bi-envelope"></i>
        </a>
        <a href="https://github.com/MuhammadSajidSE" target="_blank" class="btn btn-outline-light btn-sm rounded-circle me-2">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/engrmuhammadsajid/" target="_blank" class="btn btn-outline-light btn-sm rounded-circle">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>

    <hr class="border-light my-3">

    <!-- Copyright -->
    <div class="text-center">
      <small>© 2025 Engineer Muhammad Sajid. All rights reserved.</small>
    </div>


  </div>
</footer>


<!-- Floating Scroll to Top Button -->
<button (click)="scrollToTop()" class="btn btn-primary rounded-circle scroll-top-btn">
  <i class="bi bi-arrow-up"></i>
</button>