<section class="education py-5 min-vh-100 d-flex align-items-center" style="background-color: #ffffff;">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mb-5">
            <br>
            <h2 class="fw-bold fs-2 text-primary">Education</h2>
            <p class="text-muted fs-6">
                My academic journey and achievements reflect my growth, consistency, and dedication to learning.
                Over the years, I have built a strong foundation in both theoretical and practical knowledge.
                From school to university, each stage shaped my technical, analytical, and problem-solving skills.
                Here is a glimpse of my educational milestones.
            </p>
        </div>
        <br>
        <div class="row g-4">
            <!-- Graduation -->
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="edu-card flex-fill text-center p-5 position-relative shadow-sm border-0 custom-bg">
                    <!-- Circle Icon -->
                    <div class="icon-circle">
                        <i class="bi bi-journal-bookmark-fill fs-2 text-white"></i>
                    </div>
                    <h4 class="fw-bold text-primary mt-4">Graduation</h4>
                    <h4 class="mb-1 fs-5 text-muted">NED University of Engineering & Technology</h4>
                    <p class="mb-1 fs-6 text-muted"> B.E. in Software Engineering</p>
                    <p class="mb-1 fs-6 text-muted">CGPA: 3.6 / 4.0</p>
                    <p class="mb-1 fs-6 text-muted">2022-2026</p>
                </div>
            </div>
            <!-- College -->
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="edu-card flex-fill text-center p-5 position-relative shadow-sm border-0 custom-bg">
                    <div class="icon-circle">
                        <i class="bi bi-journal-bookmark-fill fs-2 text-white"></i>
                    </div>
                    <h4 class="fw-bold text-primary mt-4">College</h4>
                    <h4 class="mb-1 fs-5 text-muted">Government Dehli College</h4>
                    <p class="mb-1 fs-6 text-muted">Intermediate in Pre-Engineering</p>
                    <p class="mb-1 fs-6 text-muted">Grade A+ 89%</p>
                    <p class="mb-1 fs-6 text-muted">2020-2021</p>
                </div>
            </div>


            <!-- School -->
            <div class="col-12 col-md-6 col-lg-4 d-flex">
                <div class="edu-card flex-fill text-center p-5 position-relative shadow-sm border-0 custom-bg">
                    <div class="icon-circle">
                        <i class="bi bi-journal-bookmark-fill fs-2 text-white"></i>
                    </div>
                    <h4 class="fw-bold text-primary mt-4">School</h4>
                    <h4 class="mb-1 fs-5 text-muted">Rakhshanda Public School</h4>
                    <p class="mb-1 fs-6 text-muted">Matric in Biology</p>
                    <p class="mb-1 fs-6 text-muted">Grade A+ 85%</p>
                    <p class="mb-1 fs-6 text-muted">2018-2019</p>
                </div>
            </div>
        </div>
    </div>
</section>