<section class="hero d-flex align-items-center min-vh-100 sectionBackground">
    <div class="container">
        <div class="row align-items-center">

            <!-- Right Side: Image (show first on mobile) -->
            <div class="col-lg-5 text-center mt-5 mt-lg-0 order-1 order-lg-2">
                <img src="assets/my_pic.png" alt="Profile" class="shadow-lg hero-img img-fluid">
            </div>

            <!-- Left Side: Text (show second on mobile) -->
            <div class="col-lg-7 text-center text-lg-start order-2 order-lg-1 mt-4 mt-lg-0">
                <h1 class="fw-bold display-4">
                    Hi, I'm <span class="text-primary typed-text"></span>
                </h1>
                <h4 class="text-muted">Software Engineer</h4>
                <p class="mt-3 fs-5 text-secondary">
                    I am a Software Engineering graduate from NED University, passionate about a Full-Stack Developer
                    role. With experience in .NET and Angular, I build secure, scalable web applications with RESTful
                    APIs and dynamic UIs.
                </p>
                <!-- Social Icons -->
                <div class="d-flex gap-3 my-4 justify-content-center justify-content-lg-start">
                    <a href="#contact" class="btn btn-primary social-icon">
                        <i class="bi bi-envelope fs-4"></i>
                    </a>
                    <a href="https://github.com/MuhammadSajidSE" target="_blank" class="btn btn-dark social-icon">
                        <i class="bi bi-github fs-4"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/engrmuhammadsajid/" target="_blank"
                        class="btn btn-primary social-icon">
                        <i class="bi bi-linkedin fs-4"></i>
                    </a>
                </div>

                <!-- Action Buttons -->
                <div class="d-flex flex-column flex-sm-row gap-3 justify-content-center justify-content-lg-start">
                    <a href="#projects" class="btn btn-primary btn-lg">View My Work</a>
                    <a href="assets/cv.pdf" download class="btn btn-outline-primary btn-lg">Download My CV</a>
                </div>
                <br>
            </div>

        </div>
    </div>
    <br>
</section>