.custom-img {
  width: 50vh;   /* adjust width */
  height: 40vh;  /* adjust height */
  object-fit: cover; /* keeps image ratio inside fixed box */
  /* blue border */
  border-radius: 15px; /* rounded corners */
}

.card-img-top {
  max-height: 250px;   /* control height */
  object-fit: cover;   /* crop instead of squish */
}
