<section class="education py-5 min-vh-100 d-flex align-items-center" style="background-color: #fafafa;">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mb-5">
            <br>
            <h2 class="fw-bold fs-2 text-primary">Skills & Technology</h2>
            <p class="text-muted fs-5">
                Here are the technologies and skills I work to build the Software Application
            </p>
        </div>
        <br>

        <!-- Row with 2 cards per row -->
        <div class="row g-4">

            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Frame Work</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">ASP .Net Core</span>
                            <span class="badge sky-badge text-primary fs-6">Angular</span>
                            <span class="badge sky-badge text-primary fs-6">Flutter</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Languages</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">c#</span>
                            <span class="badge sky-badge text-primary fs-6">Typscript</span>
                            <span class="badge sky-badge text-primary fs-6">JavaScript</span>
                            <span class="badge sky-badge text-primary fs-6">Html5</span>
                            <span class="badge sky-badge text-primary fs-6">Dart</span>
                            <span class="badge sky-badge text-primary fs-6">c++</span>
                            <span class="badge sky-badge text-primary fs-6">Python</span>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Front-End</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">Angular</span>
                            <span class="badge sky-badge text-primary fs-6">Blazor</span>
                            <span class="badge sky-badge text-primary fs-6">Html5</span>
                            <span class="badge sky-badge text-primary fs-6">CSS3</span>
                            <span class="badge sky-badge text-primary fs-6">BootStrap</span>
                            <span class="badge sky-badge text-primary fs-6">Tailwind</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Back-End</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">ASP .Net Core Web API</span>
                            <span class="badge sky-badge text-primary fs-6">Node JS</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Suporting Skills</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">Enitity Framework</span>
                            <span class="badge sky-badge text-primary fs-6">Identity Framework</span>
                            <span class="badge sky-badge text-primary fs-6">SignalR</span>
                            <span class="badge sky-badge text-primary fs-6">Rxjs</span>
                            <span class="badge sky-badge text-primary fs-6">JQuery</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">DataBase</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">Microsoft SQL Srver</span>
                            <span class="badge sky-badge text-primary fs-6">MySQL</span>
                            <span class="badge sky-badge text-primary fs-6">Postgresql</span>
                            <span class="badge sky-badge text-primary fs-6">Firebase</span>
                            <span class="badge sky-badge text-primary fs-6">MonoDb</span>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Tools</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">Git/GitHub</span>
                            <span class="badge sky-badge text-primary fs-6">Visual Studio</span>
                            <span class="badge sky-badge text-primary fs-6">Vs Code</span>
                            <span class="badge sky-badge text-primary fs-6">Docker</span>
                            <span class="badge sky-badge text-primary fs-6">Kubernets</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-md-6">
                <div class="card shadow-sm border-0 p-3">
                    <div class="card-body text-center">
                        <h5 class="fw-bold mb-3 fs-4 text-muted">Soft Skills</h5>
                        <div class="d-flex flex-wrap justify-content-center gap-2">
                            <span class="badge sky-badge text-primary fs-6">Problem Solving</span>
                            <span class="badge sky-badge text-primary fs-6">Team Collaboration</span>
                            <span class="badge sky-badge text-primary fs-6">COmmuncation</span>
                            <span class="badge sky-badge text-primary fs-6">Agile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>